body {
  font-family: sans-serif;
  max-width: 97vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: #000;
  color: #fff;
}

/* 
----------------
----------------
*/

.m-0 {
  margin: 0;
}

.pl-3 {
  padding-left: 1.5rem;
}

.pt-1 {
  padding-top: 0.5rem;
}

.text-capitalize {
  text-transform: capitalize;
}

/* 
----------------
----------------
*/

textarea,
input {
  width: 200px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #303030;
  border-bottom: 2px solid #9a9a9a;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #2d2d2d;
  color: white;
  transition: all 0.3s ease;
}

textarea::placeholder,
input::placeholder {
  color: #9a9a9a;
  vertical-align: middle !important;
  padding: 0 !important;
  margin: 0 !important;
}

textarea:hover,
input:hover {
  background-color: #313131;
}

textarea:active,
textarea:focus,
input:active,
input:focus {
  background-color: #1e1f20;
  border: 1px solid #2d2d2d;
  border-bottom: 2px solid #4cc2ff;
}

/* 
----------------
----------------
*/

.btn {
  display: inline-block;
  padding: 0.5rem 1.3rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  border: 3px solid #0000cd;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  max-height: 2.6rem;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #0000cd;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}

.btn.delete {
  border: 3px solid rgb(252, 70, 100);
}

.btn.delete::before {
  background-color: rgb(252, 70, 100);
}

/* 
----------------
----------------
*/

select {
  background-color: #272727;
  color: #fff;
  padding: 0.4rem;
  border-width: 2px;
  border-radius: 0.5rem;
}

/* 
----------------
----------------
*/

.input-container input {
  display: none;
}

.input-container .check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 0.7rem;
  height: 0.7rem;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.input-container .check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.input-container .check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.input-container .check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.input-container .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.input-container .check:hover:before {
  opacity: 1;
}

.input-container .check:hover svg {
  stroke: #4285f4;
}

.input-container input:checked + .check svg {
  stroke: #4285f4;
}

.input-container input:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

.input-container input:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

/* 
----------------
----------------
*/

@media screen and (max-width: 580px) {
  textarea,
  input,
  .btn,
  body {
    font-size: 1.3rem;
  }

  textarea,
  input {
    width: -webkit-fill-available;
  }

  .btn {
    flex: 1;
  }

  .Home_flexBox2__CKGhK {
    flex-direction: column;
  }
}
